body { 
    margin: 0;
    background-image: url("spaceInk_bigger.png");
    /* background-size: 75%; */
    background-repeat: no-repeat;
    width: 1800;
    height: 2000;
    overflow: auto;
}
svg{
    user-select: none;
    touch-action: none;
}